@import url(https://fonts.googleapis.com/css?family=Slabo+27px);


body { 
	background-color: #F0EED6; 
	font-family: 'Slabo 27px', serif;
}

h1 {
	font-size: 90px;
    text-align: center;
}

.app {
	margin: 50px auto;
}

.clock {
	width: 650px;
	margin: 0 auto;	 
}

.waze {
	margin: 20px;
    text-align: center;
    display: block;
}

@media screen and (max-width: 600px) {

	.clock {
		width: 300px;
		margin: 40px auto; 
	}

	.flip-clock-divider.minutes {
		display: block;
		width: 100%;
		visibility: hidden;
		height: 30px;
	}
}
