@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Delius);

body { 
	background-color: #fefefe; 
	margin: 0;
}

h1 {
	font-family: 'Slabo 27px', serif;
	font-size: 90px;
    text-align: center;
    color: #3695C3;
    margin: 0;
    text-shadow: inset 1px 1px 1px rgba(0,0,0,1);
}

h2 {
	font-family: 'Delius', cursive;
	font-size: 40px;
	text-align: center;
	margin-top: 0;
	padding: 5px;
}

h1 .and {
	color: silver;
}

.a {
	color: #2D7DA5;
	background: #FFD1E0;
    padding: 0 10px;
    padding-left: 12px;
}


.b {
	color: #444F71;
}

.c {
	color: #2D7DA5;
}

.app {
	margin: 50px auto;
}

.clock {
	width: 620px;
	margin: 0 auto 50px;	 
}

.waze {
	background: #EFEFEF;
	width: 100%;
    text-align: center;
    display: block;
    border-top: solid 1px #fff;
    border-bottom: solid 2px #2D7DA5;
}

.flip-clock-wrapper ul li a div.up div.inn {
	background: #333745;
    color: #77C4D3;
}

.flip-clock-wrapper ul li a div.down div.inn {
	background: #333745;
    color: #77C4D3;
}

@media screen and (max-width: 600px) {

	.app {
		margin: 20px auto;
	}

	h1 {
		font-size: 72px;
		line-height: 1.1;
		margin: 20px 20px 10px;
		text-align: center;
	}

	.clock {
		width: 300px;
		margin: 40px auto 40px; 
	}

	.flip-clock-divider.minutes {
		display: block;
		width: 100%;
		visibility: hidden;
		height: 30px;
	}
}
